<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SLCTestApplication</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ManageQuestions">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Questions
                </NavLink>
                <NavLink class="nav-link" href="ManageParticipants">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Participants
                </NavLink>
                <NavLink class="nav-link" href="ManageSchedules">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Schedules
                </NavLink>
            </div>            
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
